.btnDel {
  margin-left: 20px;
  height: 25px;
  text-align: center;
  margin-top: 35px;
  cursor: pointer;
  border-radius: 5px;
}

.btnDel:hover {
  outline: none;
  background-color: cornflowerblue;
}

.listItem {
  padding-bottom: 10px;
  height: 28px;
  font-size: 18px;
  margin-bottom: 19px;
  text-align: left;
}

.list {
  margin-bottom: 150px;
}
